body {
  background-color: antiquewhite;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  margin: 0.5rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  margin: 0.5rem;
}

.center {
  text-align: center;
}

.container-parent {
  display: flex;
  place-content: center;
}

.container-top {
  display: flex;
  place-content: center;
  gap: 3rem;
  width: 75%;
  margin: 1rem;
}

.img-cat {
  width: 7rem;
  height: inherit;
}

.container-mid {
  width: 70%;
  margin-top: 5rem;
  display: grid;
  place-items: center;
}

.img-logo {
  align-self: center;
  width: 30rem;
}
