body {
  display: flex;
  place-content: center;
}

h1 {
  font-size: 50px;
}

h1,
h2,
p {
  margin: 10px;
}

p {
  font-size: 30px;
}

.container-top {
  display: flex;
  place-content: center;
  gap: 50px;
  width: 75%;
}

.img-cat {
  width: 150px;
  height: 150px;
}

.center {
  text-align: center;
}
