body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  margin: 0.5rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  margin: 0.5rem;
}

.center {
  text-align: center;
}

.container-welcome {
  display: flex;
  place-content: center;
}

.container-top {
  display: flex;
  place-content: center;
  gap: 3rem;
  width: 75%;
  margin: 1rem;
}

.container-parent {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.img-cover {
  max-width: 50rem;
  max-height: 50rem;
}

.img-cat {
  width: 13rem;
  height: 15rem;
}

.container-game {
  width: 100vw;
  margin-top: 5rem;
  display: flex;
  place-items: center;
  background-color: #ffb900;
}
